body {
    background-color: black;
    color: yellow;
  }

  h3 {
    color: #E0E0E0;
    /* Light text for headings */
  }

  #map {
    width: 700px;
    height: 300px;
  }

  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }